@charset "UTF-8";
.searchWrap{
	display: flex;
    justify-content: center;
    padding-top: 50px;
}
#input{
	width:600px;
	height:80px;
}
#submit{
	position: relative;
	left:20px;
	width:80px;
	height:80px;
}
.book{
	text-align:center;
	padding-top:30px;
	width:25%;
	height:150px;
}
.result{
	margin: 0;
	padding-top:100px;
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}