@charset "UTF-8";
.container{
	background-color:#f8f8f8;
}
.bookWrap{
	font-family: 'Noto Sans KR', sans-serif;
	color: #1b0f04;
	background-color:#f8f8f8;
}
.bookInfo {
	display: flex;
	padding: 0 150px 0 150px;
	text-align: center;
	justify-content: center;
}

.info {
	display: flex;
	flex-direction: column;
	height: auto;
}
.bookWrap{
	width:60vw;
	margin:auto;
}
.main {
	width:60vw;
	margin: auto;
	margin-top:40px;
	display:flex;
}
.img img{
	margin-top:15px;	
	}
.title{
	width:20vw;
	text-align:left;
	font-size:18pt;
	font-weight:700;
	margin-left:120px;
}
.authors{
	width:12vw;
	text-align:left;
	font-size:13pt;
	font-weight:700;
	margin-left:120px;
}
.publisher{
	width:12vw;
	text-align:left;
	font-size:12pt;
	font-weight:500;
	margin-left:120px;
}
.main2 {
	width:60vw;
	margin: auto;
	background-color:#f8f8f8;
}

.titles {
	font-size:15pt;
	width: 60vw;
	margin: auto;
	margin-top:30px;
}

.buttons {
	text-align: center;
	margin-left:390px;
	display:flex;
}

.buttons input, .watch {
	background-color: #1b0f04;;
	width: 180px;
	height: 42px;
	border-radius: 7px;
	color:#fff9ed;
	margin-right:20px;
}

.buttons2 {
	text-align: center;
	
}
.buttons2 button{
	background-color: #1b0f04;;
	width: 180px;
	height: 42px;
	border-radius: 7px;
	color:#fff9ed;
}
.starBox{
	height: 150px;
	border: solid 1px white;
	text-align:center;
	font-size:15pt;
}
.starBox h3{
	margin-top:30px;
}
.starBox .score{
	font-size:20pt;
	display:flex;
	justify-content: center
}
.starBox .totalScore{
	font-size:16pt;
	color:#b1b1b1;
	margin-top:5px;
}