@charset "UTF-8";
.dibsBook{
	margin-top: 50px;
    width:100vw;
    background-color: white;
   height:100%;
}


.bookList2{

	background-color: #ffff80;
	text-align: center;
	display: flex;
	height:100%;
}
.dibsBookContents{
	background-color: red;
	
}




.boardListContainer, formContainer {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
}

td{
	padding:20px; 
}