@charset "UTF-8";
.dibsBook{
	margin-top: 50px;
    width:100vw;
    background-color: white;
   	height:100%;
}


.bookList2{
	text-align: center;
	display: flex;
}
.dibsBookContents{
	display:flex;
}
.bookInfo{
	background-color: gray;
}
.results{
	display:flex;
	width: 15vw;
}




.boardListContainer, formContainer {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
}

td{
	padding:20px; 
}