@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.wrap{
    width:100vw;
    position: relative;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    background-color:#f8f8f8;
}
.header{
    width:100vw;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #d0c09e;
    /* opacity: 0.6; */
    height: 10vh;
    display: flex;
    color:#1b0f04;
    justify-content: space-between;
    
}
.logo{
    font-weight: 700;
    font-size: 35pt;
    margin-left: 7vw;
    padding-top:2vh;
    cursor:pointer;
}
.topMenu{
    float:right;
    display: flex;
    font-weight: 500;
    margin:10px 150px;
    /* color:#1b0f04; */
}
.topMenu p{
    margin-left: 20px;
    cursor:pointer;
}
.topMenu img{
    width:24px;
    margin-top:3px;
    cursor:pointer;
}
#logo img{
    font-weight: 700;
    font-size: 35pt;
    margin-left: 2.2vw;
    padding-top:3vh;
    width:240px;
}
.nav{
    width:100vw;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #d0c09e;
    /* opacity: 0.6; */
    height: 5vh;
   
}
.nav div{
    width:100vw;
    margin-left: 20vw;
    font-size: 16pt;
    display:flex;
}
.nav p{
    margin-right: 15vw;
    position:relative;
}
.nav p:before{
    content: '';
    position: absolute; /*부모 요소에는 position: relative를 주어야 한다.*/
    background-color: #1b0f04;
    height: 2px; /*밑줄 굵기*/

    width: 0; /*초기에 보이지 않도록*/
    bottom: 0; /*a태그 아래에 위치시키기*/
    transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/

    /*가상 요소를 가운데로 이동시키기*/
    left: 50%;
    transform: translateX(-50%) ;
}
.nav p:hover:before{
    width:100%;
}

.dibsBook{
	margin-top: 50px;
    width:100vw;
    background-color: white;
}

.userTitle{
	
	height:20vh;
	display:flex;
	text-align:left;
	background-color:#fff9ed;
	padding-top:30px;
}
.dibBook{
	width:60vw;
	background-color: red;
	margin: auto;
}
.userTitle img {
	width:7vw;
	margin-left:17vw;
	margin-top:10px;
	color:#1b0f04;
}
.txt{
	color:#1b0f04;
	margin-top:20px;
	margin-left:2vw;
}
.txt p{
	margin-top:0.5vh;
}

.setting{
	display:flex;
	margin-left:10vw;
}
 .setting .settingIcon{
	width:1.5vw;
	margin-top:5vh;
	color:#1b0f04;
}
.setting h4{
	margin:5vh 0 0 1vw;
}
.myMenu{
	width:60vw;
	margin:auto;
	
}
.button{
	margin-top:10px;
	hegiht:7vh;
	display:flex;
	flex-wrap:wrap;
}
.myMenu .myLibrary{
	background-color:#d0c09e;
}
.myMenu button{
	width:20vw;
	height:7vh;
	font-family: 'Noto Sans KR', sans-serif;
	border:none;
	font-size:15pt;
}
.myMenu button:hover{
	background-color:#d0c09e;
}

.box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.box div{
    width:300px;
    height: 400px;
    border: solid 1px #838383;
    text-align:center;
    background-color:white;
    
}
.box h2{
    padding:20px 0 20px 0;
    color:white;
}
.box h2 p{
	font-size:12pt;
	font-weight:400;
}
.box h2 .price{
	font-size:16pt;
}
.basic h2{
	background-color:#d0c09e;
}
.standard h2{
	background-color:#af9a6d;
}
.premium h2{
	background-color:#4f3f1c;
}
.myMenu .ifr{
	width:60vw;
}
.boardWrap{
	font-family: 'Noto Sans KR', sans-serif;
}
.boardTop{
	margin-top:10px;
}
.boardWrap h2{
	margin-top:10px;
	color:#5c5c5c;
	font-size:16pt;
}

.reviewTable{
	width:100%;
	margin-top:20px;
	text-align:center;
}
.allView{
	width:19vw;
	height:14vh;
	border:none;
	background-color:white;
	font-size:13pt;
	margin-top:20px;
	
}
.boardTop{
	display:flex;
	justify-content: space-between;
	
}
.writeBtn{
	width:130px;
	height:45px;
	border:1.5px solid #d0c09e;
	background-color:white;
}

.header{
    width:100vw;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #d0c09e;
    /* opacity: 0.6; */
    height: 10vh;
    display: flex;
    color:#1b0f04;
    justify-content: space-between;
    
}
.logo{
    font-weight: 700;
    font-size: 35pt;
    margin-left: 7vw;
    padding-top:2vh;
}
.topMenu{
    float:right;
    display: flex;
    font-weight: 500;
    margin:10px 150px;
    /* color:#1b0f04; */
}
.topMenu p{
    margin-left: 20px;
}
.topMenu img{
    width:24px;
    margin-top:3px;
}
.nav{
    width:100vw;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #d0c09e;
    /* opacity: 0.6; */
    height: 5vh;
   
}
.nav div{
    width:80vw;
    margin-left: 20vw;
    font-size: 16pt;
    display:flex;
}
.nav p{
    margin-right: 10vw;
    position:relative;
}
.nav p:before{
    content: '';
    position: absolute; /*부모 요소에는 position: relative를 주어야 한다.*/
    background-color: #1b0f04;
    height: 2px; /*밑줄 굵기*/

    width: 0; /*초기에 보이지 않도록*/
    bottom: 0; /*a태그 아래에 위치시키기*/
    transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/

    /*가상 요소를 가운데로 이동시키기*/
    left: 50%;
    transform: translateX(-50%) ;
}
.nav p:hover:before{
    width:100%;
}
.container{
    width:100vw;
    background-color:#f8f8f8;
    color:#1b0f04;
}
.box{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.subs{
	width:60vw;
	margin:auto;
}


.loginbox{
	border : solid 1px black;
}
.bookList{
	width:15vw;
	background-color: yellow;
	text-align: center;
}
.a{
	width: 60vw;
	display: flex;
	flex-wrap: wrap;
}



.boardListContainer, formContainer {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
}

td{
	padding:20px;
}