@charset "UTF-8";
.userTitle{
	
	height:20vh;
	display:flex;
	text-align:left;
	background-color:#fff9ed;
	padding-top:30px;
}
.userTitle img {
	width:7vw;
	margin-left:17vw;
	margin-top:10px;
	color:#1b0f04;
}
.ifr{
	height:100vh;
}
.txt{
	color:#1b0f04;
	margin-top:20px;
	margin-left:2vw;
}

.txt p{
	margin-top:0.5vh;
}

.setting{
	display:flex;
	margin-left:10vw;
	cursor:pointer;
}
 .setting .settingIcon{
	width:1.5vw;
	margin-top:5vh;
	color:#1b0f04;
}
.setting h4{
	margin:5vh 0 0 1vw;
}
.myMenu{
	width:60vw;
	margin:auto;
	
}
.button{
	margin-top:10px;
	hegiht:7vh;
	display:flex;
	flex-wrap:wrap;
}
.myMenu .myLibrary{
	background-color:#d0c09e;
}
.myMenu button{
	width:20vw;
	height:7vh;
	font-family: 'Noto Sans KR', sans-serif;
	border:none;
	font-size:15pt;
}
.myMenu button:hover{
	background-color:#d0c09e;
}
.title{
	margin-top:20px;
	color:#534a42;
}